@import "tailwindcss";

:root {
  --color-negative: #111110;
  --color-negative-text: #f0ebe0;
  --color-bone: #cfc9bc;
  --color-ember: #e8432a;
  --color-stone: #7c7870;
  --color-ink: #1a1917;
}

@theme inline {
  --color-negative: var(--color-negative);
  --color-negative-text: var(--color-negative-text);
  --color-bone: var(--color-bone);
  --color-ember: var(--color-ember);
  --color-stone: var(--color-stone);
  --color-ink: var(--color-ink);

  --font-sans: var(--font-familjen);
  --font-serif: var(--font-instrument);
  --font-mono: var(--font-dm-mono);
}

body {
  background-color: var(--color-negative);
  color: var(--color-negative-text);
  font-family: var(--font-sans);
}
